.section {
  background-color:  var(--secondary-colour);
  color: var(--background-colour-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  height: 100%;
}