:root {
	--navbar-height: 6rem;

  /* Colours */
  --primary-colour: #16161d;
  --secondary-colour:#f56565;
  --background-colour: #f8f8ff;

  /* Fonts */
  --text-base: 16px;
  --body-font: 'Hind', sans-serif;
}
