.fade-enter {
  transform: rotateY(-90deg);
  transform-origin: left;
}

.fade-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
}

.fade-exit {
  transform: rotateY(0deg);
}

.fade-exit-active {
  transform: rotateY(90deg);
  transform-origin: left;
  transition: transform 300ms;
}
